{erl_opts, [no_debug_info]}.
{deps, [
  {mongodb, {git, "git://github.com/comtihon/mongodb-erlang.git"}}
]}.

{escript_incl_apps,
 [mx]}.
{escript_top_level_app, mx}.
{escript_name, mx}.
{escript_emu_args, "%%! +sbtu +A0\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
